.menu-caption
{
    background: rgb(235, 235, 235);
    font-size: 13px;
    color: black;
    text-align: left;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.settings  > form > ul > li
{
    display: inline-block;
    width: 100%;
    list-style-type: none;
    background: rgb(230, 230, 240);
    padding: 10px 0 10px 0;
    margin: 2px 0 7px 0;
    font-size: 12px;
}
.update-new-changes
{
    position: relative;
    float: left;
    border: none;
    padding: 5px;
    font-size: 12px;
    width: 6em;
    margin-left: 1em;
    cursor: pointer;
    outline: none;
    color: white;
    background: black;
}
.settings  > form > ul input 
{
    border: none;
    width: 80%;
    height: 1.5em;
    vertical-align: middle;
    font-size: 12px;
}
.nav-section:first-child
{
    margin-left: 0;
}

.nav-section:last-child
{
    margin-right: 0;
}

.nav-section:hover,.nav-section:focus
{
    background-color: #444444;
}
header
{
    height: 70px;
    width: 95%;
    background-color: black;
}
.reportsAndFolder
{
    float: right;
}

.tabs li:first-child
{
    margin-left: 0;
}
.sel li:first-child 
{
 display: block;   
}

.sel li 
{
 display: none;   
}

.sel li:first-child:after 
{
    content: "";
    width: 0;
    border-top: 10px solid black;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

}
.sel:hover  li
{
    display: block;
}

#my-team-folders
{
    width: 100%;
    height: 600px;
    background: rgb(235, 235, 235);
    display: none;
    position: relative;
    padding: 1em;
    box-sizing: border-box;
}
#qr
{
    width: 100%;
    height: 600px;
    background: rgb(235, 235, 235);
    display: none;
    position: relative;
    padding: 1em;
    box-sizing: border-box;
}

.sel li a:link ,.sel li a:visited 
{
    text-decoration: none;
    color: #6E6E6E;
}

.sel li:first-child 
{
 display: block;   
}

.heading
{
    width: 82%;
    display: inline-block;
    position: relative;
    left: 120px;
    right: 120px;
    padding-left: 20px;
    padding-top: 20px;
}
.sel 
{
    margin-left: 0;
    margin-top: 0;
    padding: 5px 0 5px 9px;
    list-style-type: none;
    text-align: left;
    position: absolute;
    width: 300px;
    background: white none repeat scroll 0 0;
    display: none;
    cursor: default;
}

.find
{
    float: right;
    width: 20em;
    height: 1.8em;
}

.set-box
{
    background: white;
    height: 3em;
    width: 3em;
    float: right;
}

.body-heading
{

    width: 80%;
    display: inline-block;
    position: relative;
    left: 120px;
    right: 120px;
    padding-left: 20px;
    background: rgba(125, 125, 125, 0.8);
    padding: 1em;
}

.nav-section
{
    background: black;
    height: 12em;
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 1rem;
    vertical-align: bottom;
    width: 32%;
    margin: 1%;
    color: white;
    text-align: center;
    box-sizing: border-box;
}

body
{
    background-image: url(../img/body-background.jpg);
    background-size: cover;
}

.menu-caption
{
    background: rgb(230, 230, 235);
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    color: black;
    text-align: left;

}

.nav-section:hover .action-list,.nav-section:focus .action-list
{
    display: block;
}

.notifications  p 
{
    background: rgb(230, 230, 235);

    font-size: 14px;
    margin: 1em;
    padding: 0.6em 1.8em 0.6em 1.8em;
}

.menu-caption > p ,.dynamic-drop-down>ul
{
    padding-left: 1em;
    float: left;
}
.name
{
    display: inline-block;
}

.menu-caption:after
{
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    float: right;
    margin: 1em;
}
.tabs li:last-child
{
    margin-right: 0;
}

.tabs >ul >li >a 
{
    text-decoration: none;
    color:white;
}

.tabs >ul >li:focus
{
    outline: none;
    background: rgb(230, 235, 235);
}

.action-list
{
    padding: 0;
    width: 100%;
    top: 155px;
    z-index: 3;
    list-style-type: none;
    display: none;
    text-align: left;
    position: absolute;
}

.action-list >li
{

    padding: 0.7em;
    background: white;
    border-bottom: 1px solid rgb(235, 235, 235);
    font-size: 13px;
}

.action-list >li > a
{
    text-decoration: none;
    color: black;
}

.action-list >li:last-child
{
    border-bottom: none;
}

.tabs
{
    padding: 1.2em;
}

.active-tab 
{
    background: rgb(230, 230, 240) !important;
}

.active-tab >a
{
    color: black !important;
}

#my-folders
{
    width: 100%;
    height: 650px;
    background: rgb(230, 230, 240);
    display: none;
    position: relative;
}


.nav-section > p
{
    font-size: 1.3em;
    margin-top: 0.5em;
}


.expand-icon ,.settings-icon
{
    display: block;
    float: right;
    text-align: center;
    margin: 1em 1em 0 1em;
    width: 20px;
    height: 20px;
}

.report-container 
{
    margin-top: 10%;
    position: relative;
    margin-right: auto;
    height: 40%;
    width:90%;
    margin-left: auto;
}

.icons-bar
{
    z-index: 1;
    position: relative;
    width: 100%;
    height: auto;
    display: inline-block;
    top: 4px;
}

body
{
    background-image: url(../img/body-background.jpg);
    background-size: cover;
}



.menu-caption > p ,.dynamic-drop-down>ul
{
    padding-left: 1em;
    float: left;
}

.menu-caption:after
{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    width: 0;
    margin: 1em;
    height: 0;
    border-top: 10px solid black;
    float: right;

}

.notifications  p 
{
    font-size: 14px;
    background: rgb(230, 230, 240);
    padding: 0.6em 1.8em 0.6em 1.8em;
    margin: 1em;
}

.window-link
{
    display: block;
    padding-right: 2em;
    top: 72px;
    border: medium none;
    position: absolute;
    margin: 1.1em;
    width: 95%;
    height: 85%;
    box-sizing: border-box;
}

#my-team-folders, #qr
{
    width: 100%;
    height: 600px;
    background: rgb(235, 235, 235);
    display: none;
    position: relative;
    padding: 1em;
    box-sizing: border-box;
}

.tabs >ul >li 
{
    display: inline-block;
    background: rgb(110,105,110);
    text-align: center;
    width: 23%;
    margin: 0 0.5% 0 0.8%;
    padding: 0.8em;
    box-sizing: border-box;
    font-size: 1.2rem;
    vertical-align: bottom;
}

.settings  > form > ul
{
    padding-left: 0;
}

.settings  > form > ul > li
{
    display: inline-block;
    width: 100%;
    list-style-type: none;
    background: rgb(235, 235, 235);
    padding: 10px 0 10px 0;
    margin: 2px 0 7px 0;
    font-size: 12px;
}

.moveLeft
{
    position: relative;
    left: 50px;
}
.moveFolderLeft
{
    position: relative;
    left: 30px;   
}


.settings  form ul div input
{
    margin-left: 30px;
    box-sizing: border-box;
    width: 30%;
    position: relative;
    left: 100px;
    bottom: 15px;
    display: inline-block;
}

.settings  form ul div
{
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
}

.settings  > form > ul input 
{
    border: none;
    width: 90%;
    height: 1.8em;
    font-size: 12px;
}
.settings
{
    background: white;
    z-index: 1;
    padding: 1em;
    box-shadow: 1.2px 1.2px 6.5px 2px gray;
    height: 45%;
    position: relative;
}

.tabs >ul , nav
{
    padding: 0;
    margin-bottom: 0;
    list-style-type: none;
    font-size: 0;
}

#public-folders
{
    width: 100%;
    height: 600px;
    background: rgb(230, 230, 240);
    display: none;
    position: relative;
}

.nav-section:first-child
{
    margin-left: 0;
}

.nav-section:last-child
{
    margin-right: 0;
}

.nav-section:hover,.nav-section:focus
{
    background-color: #444444;
}

.nav-section:hover .action-list,.nav-section:focus .action-list
{
    display: block;
}
.remove-all-links
{
    position: relative;
    float: left;
    cursor: pointer;
    outline: none;
    font-size: 13px;
    width: 6.5em;
    margin-left: 1.2em;
    color: black;
    background: white;
    border: none;
    padding: 7px;
}